section#about{
    background-color: #ddd;
}
/******** heading about item *********/
.about-items h2{
    font-size: 1.8rem;
    text-transform: capitalize;
    font-weight: bold;
    border-bottom: 2px solid var(--main-color-white);
    margin-left: 15px;
}
/******** divider about item *********/
.divider{
    width: 3px;
    height: 400px;
    background-color: var(--main-color);
    
}
/******** height about item *********/
.about-item{
    height: 500px;
}
/******** icons about item *********/
.about-item .icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    background-color: var(--main-color-white);
}
.icon:nth-child(1){
    bottom: 350px;
    left: -10px;
}
.icon:nth-child(2){
    bottom: 200px;
    left: -10px;
}
.icon:nth-child(3){
    bottom: 50px;
    left: -10px;
}
.icon i{
position: relative;
 left: 6px;
 top: 7px;
 color: var(--main-color);
 font-size: 1.6rem;
 
 animation: iconFloat 3s linear infinite;
}
/******** animatoin icons about item *********/
@keyframes iconFloat {
   0%{
    transform: rotate(10deg);
   } 
   25%{
    transform: rotate(0deg);
   } 
   50%{
    transform: rotate(-10deg);
   } 
   75%{
    transform: rotate(0deg);
   } 
   10%{
    transform: rotate(10deg);
   } 
}
/******** description about item *********/
 .about-item .description-item{
 width: 470px;
 padding: 10px;
 background-color: var(--main-color);
 color: var(--main-color-white);
 font-size: 1.1rem;
 border-radius: 15px;
 
}
 .description-item::after{
    position: absolute;
    right: auto;
    left:-14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: -14px solid var(--main-color);
    border-right: 0 solid var(--main-color);
    content: '';
    border-right-width: 14px;

}
 .description-item h4{
text-transform: uppercase;
font-size: 1.1rem;
}
.description-item:nth-child(1){
    left: 50px;
    bottom: 340px;
}
.experience .description-item:nth-child(1){
    left: 50px;
    bottom: 320px;
}
.description-item:nth-child(2){
    left: 50px;
    bottom: 185px;
}
.experience .description-item:nth-child(2){
    left: 50px;
    bottom: 170px;
}
.description-item:nth-child(3){
    left: 50px;
    bottom: 35px;
}
.description-item h4,
.description-item h5,
.description-item p{
    margin:5px 0;
}
/******** media query *********/
@media screen and (max-width: 1200px) {
    .about-items {
      display: block;
    }
    .description-item{
        width: 90% !important;
        font-size: 1.3rem !important;
    }
  
  }
@media screen and (max-width: 992px) {
    
    .description-item{
        width: 80% !important;
        font-size: 1rem !important;
        
    } 
  
  }
  @media screen and (max-width: 576px) {
    .description-item{
        width: 80% !important;
        font-size: 0.7rem !important;
    } 
    .description-item h4{
       
        font-size: 0.9rem !important;
    }
    .description-item:nth-child(3){
        left: 50px;
        bottom: 45px;
    }
    .experience .description-item:nth-child(1){
        left: 50px;
        bottom: 335px;
    }
  
  }